<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/transmediainc-testautomation/src/test/java/com/transmediainc/web/testcases/BoardCreationTest.java">
        <parameter name="BrowserType" value="chrome"></parameter>
        <classes>
            <class name="com.transmediainc.web.testcases.BoardDetailsTest"/>
        </classes>
    </test>
</suite>